.AboutModule {
    color: white;
    text-align: left;
    margin: 10px;
}

.AboutModule .aboutTitle,
.AboutModule .aboutHHTitle,
.AboutModule .GlitchTitle{
    font-size: var(--font-size-medium);
}

.AboutModule .aboutPart1,
.AboutModule .aboutPart2 {
    background-color: var(--header-toolbar-color);
    font-size: var(--font-size-small);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.AboutModule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .AboutModule .FeatureListBullet {
      width: 15px;
      height: 15px;
      margin-right: 5px;
  }

  .AboutModule a,
  .AboutModule .specialText{
      color: var(--special-text-color);
  }

  /* Side Panel*/
  .SidePanel .SidePanelListItem {
      text-align: right;
      opacity: 0.9;
  }

  .SideDrawer .MuiDrawer-paper {
      background: var(--bg-theme-color);
      color: white;
      font-size: var(--font-size-large);
      min-width: 250px;
  }


.SidePanel .AppLogoBar {
    background-image: url('../images/LogoSideBar.png');
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: 20px;
}


.SidePanel .followEDevi {
    position: absolute;
    bottom: 0;
    right: 0;
}

.SidePanel .SmallSidePanelText .MuiListItemText-primary {
    text-align: right;
    font-size: var(--font-size-small)
}

.SidePanel .followIcons svg {
    margin-right: 10px;
    color: var(--special-text-color)

}