@import url("Themes.css");

html, body, #root, .AppBody {
  height: 100%;
}
body {
  background: var(--bg-theme-color);
}

.App {
  /* text-align: center; */
  background: var(--bg-theme-color);
  height: 100%;
}

.App .AppStateHandler {
  height: calc(100vh - 64px);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  background-image: ur('../images/logo.svg');
  margin: 20pt;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Landing page Module*/

.LandingPageModule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    background-image: url('../images/LandingBackground.png');
    background-repeat: no-repeat;
    background-position: center;
}

.LandingPageModule .AppLogoImage {
  width: 100px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .LandingPageModule .AppLogoImage {
    width: 180px;
    height: auto;
  }
}

.LandingPageModule .landingPageHeader {
  text-align: center;
  font-size: 32px;
  opacity: 0.8;
  font-family: 'Lora, Italic';
}

.LandingPageModule .EnterTempleButton  {
    background-image: linear-gradient(263deg, #0A95FB 0%, #2F4FFF 50%, #0A13F8 100%);
    position: absolute;
    bottom: 10%;
    color: white;
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    text-transform: none;
    font-size: var(--font-size-large);
    font-family: 'Open Sans bold'
}

.GlitchScreen,
.PledgeScreen {
  height: 100%;
  color: white;
}

/* Glitch Screen */

.GlitchScreen .GlitchMasks,
.PledgeScreen .GlitchMasks {
  height: 40%;
  position: relative;
}

.GlitchScreen .GlitchBackground{
  height: 100%;
  background-image: url('../images/Cat_welcome-360.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.PledgeScreen .GlitchBackground {
  height: 100%;
  background-image: url('../images/Cat_Pledge-360.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.GlitchScreen .GlitchPathBackground, 
.PledgeScreen .GlitchPathBackground{
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: url('../images/GlitchPathBackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index:-10;
}

.GlitchScreen .CodeFormLabel {
  text-align: center;
  font-size: var(--font-family-large);
  font-family: 'Open Sans Regular'
}

.GlitchScreen .GlitchTitle,
.PledgeScreen .PledgeTitle {
  font-size: 24px;
  font-family: 'Lora,Regular';
  opacity: 0.9;
  margin: 19px;
}

.GlitchScreen .GlitchTitle .GlitchName {
  color: var(--special-text-color);
}

.PledgeScreen .PledgeTitleSpecial {
  color: var(--special-text-color);
  text-decoration: underline;
}

.GlitchScreen .GlitchDescription {
  margin: 19px;
  font-size: var(--font-family-large);
  font-family: 'Open Sans Regular';
}

.GlitchScreen .CodeFormText {
  border-color: white;
  margin: 10px;
  width: 50%;
}

.GlitchScreen .FormControls {
  display: flex;
  /* justify-content: center; */
}

.GlitchScreen .GlitchRedirect {
  font-size: 24px;
  opacity: 0.9;
  margin: 19px;
}

.GlitchScreen .CodeFormText fieldset,
.GlitchScreen .CodeFormText label {
  border-color: var(--text-variant-color);
  color: var(--text-variant-color);
}

.GlitchScreen .CodeContinue {
  background-image: linear-gradient(263deg, #0A95FB 0%, #2F4FFF 50%, #0A13F8 100%);
  color: white;
  text-transform: none;
  font-size: var(--font-size-large);
  font-family: 'Open Sans bold';
  margin: 10px;
  width: 50%;
}

.GlitchScreen .WalkInDarshanButton,
.PledgeScreen .StartThePledge {
  background-image: linear-gradient(263deg, #0A95FB 0%, #2F4FFF 50%, #0A13F8 100%);
  color: white;
  text-transform: none;
  font-size: var(--font-size-large);
  font-family: 'Open Sans bold';
  width: 90%;
  margin: 10px;
}

.GlitchScreen .cartFeatureList {
  padding-bottom: 5px;
}


.PledgeScreen .MediaPledgeDesc {
  font-family: 'Open Sans,Regular';
  font-size: 20px;
  opacity: 0.9;
  margin: 19px;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.Toastify__progress-bar {
  animation: Toastify__trackProgress linear 1;
}
